*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   background:url(s.jpg);
}

.container{
    height: 500px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    padding: 3rem;
    background-color: rgba(0,0, 0, 0.5);
    border-radius: 20px;
     padding: 4rem;
   
     border:3px solid rgba(255,255, 255, 0.3);
     box-shadow: 0 0 30px rgba(0,0, 0, 0.5);

}

h1{

    
      text-align: center;
      color:white;
        text-transform: capitalize;   
       
}

.user{
    width: 300px;
    margin: 30px;
    position: relative;
    
  position: relative;
  border-bottom: 3px solid white;


}

.user input{
    width: 100%;
    height: 100%;

    background-color:transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    color: white;
    padding: 0 30px 10px ;
}

.user label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-70%);
    font-size: 1.2em;
       transform: 5s;
       text-transform: capitalize;
       color: white;
}

.user i{
    position: absolute;
    top:50%;
    right: 20px;
    transform: translateY(-70%);
    font-size: 1.2em;
    color:white;
}

input:focus ~label,input:valid ~label
{
     top: -10px;
} 


p{
    text-align: center;
    padding: 10px 0;
    color: white;
}

p a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

p a:hover{
    text-decoration: underline;
    font-style: italic;
}

.btn{
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    /* background-color: orange; */
}


.btn:hover{
    background:transparent;
    color: white;
}